@import '../partials/variables.scss';


.section {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.home-sections {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    width: 80%;
    gap: 2px;

    @media screen and (max-width:800px) {
        transition: all 0.2s ease-in-out;
        width: 100%;
    }
}

.home-sections>div {
    margin: auto;
}

.button-options {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    padding-block: 10px;
    padding-inline: 30px;
    font-size: $font-size;
    cursor: pointer;
    width: 100%;
    height: 100%;

    &:hover,
    &-active {
        background-color: $primary-color;
    }

    @media screen and (max-width:500px) {
        font-size: calc(#{$font-size} - 5px);
        transition: all 0.2s ease-in-out;
    }
}

.section {
    width: 90%;
    height: 100%;
    padding: 1.5rem;

    @media screen and (max-width:500px) {
        width: 100%;
        transition: all 0.2s ease-in-out;
    }
}

.section-series {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-artists {
    width: 100vw;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.container-list-artists {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-artists {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

// Estilos para botones de artistas
.btn-artist {
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    margin: 5px;
    padding: 5px;
    text-align: justify;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;

    &:hover {
        background-color: $primary-color;
        color: white;
    }
}